{% extends "layout.html" %}

{% block page_title %}
  You are ineligible
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="juggling-balls">Back</a>

      <h1 class="heading-xlarge">
        You can not have a juggling license
      </h1>

      <p>You are ineligible to receive a juggling license because you can not juggle 3 or more balls.</p>

    </div>
  </div>
</main>

{% endblock %}
